html, body {
    height: 100%;
    margin: 0; padding: 0;
}
body {
    display : table;
    width: 100%;
}

footer {
    display : table-row;
    height: 100px;
    margin-top: 1em;
    padding: 2em;
    width: 100%;
    background-color: #AEEE00
    }
header {
    background-color: #7FC6BC;
    padding : 1em;
    }
img {
    margin: 1em;
    border-radius: 25px;
    }
nav {
    height: 10em;
    margin: 0em;
    padding: 1em;
    background-color: #B5E655
    }
section#moi {
    width : 60%;
    float: right;
    height: 10em;
    margin: 1em;
    padding: 1em;
    background-color: #B5E655
    }
li {
    display: inline;
}
aside {
    text-align: center; color: #ffffff;
    height: 75em;
    width : 20%;
    margin-top: 1em;
    padding: 1em;
    float: left;
    background-color: #B5E655
    }
main {
    height: 75em;
    width: 72%;
    margin-top: 1em;
    padding: 1em;
    float: right;
    background-color: #4BB5C1
    }
section {
    margin-left: : 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #ffffff
    }
h2 {
    color:#4BB5C1
    }


iframe{
    padding: 25px;
    }

    body{
        background: urL(../images/photo.jpeg) no-repeat center center fixed;
        background-size: cover;
        background-color:#b4cce4;
    }
