

header {


    padding : 1em;
    }

nav {
    height: 10em;
    margin: 0em;
    padding: 1em;
    }
.myButtonLink {
    	display: block;
    	width: 100px;
    	height: 100px;
    	background: url(../images/buttonleafhover.png) bottom;
    	text-indent: -99999px;
    }
.myButtonLink:hover {
    	background-position: 0 0;
    }

body{
    background: urL(../images/fond2.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color:#b4cce4;
    }

aside {
    text-align: center; color: #ffffff;
    width : 20%;
    margin-top: 1em;
    padding: 1em;
    float: left;
    background-color: #0b2629
    }

main {
    width: 70%;
    height: auto;
    margin-top: 1em;
    padding: 1em;
    float: right;
    background-color: #0b2629
    }

section {
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #ffffff
    }

section#moi {
    background-color: #0b2629;
    text-align: center; color: #ffffff;
    width : 50%;
    float: right;
    height: 10em;
    margin: 1em;
    padding: 1em;

    }

footer {
    display: inline-block;

    border-top: thick double #000000;
    width: 100%;
    margin-top: 1em;
    padding: 2em;
    }

img {
    margin: 1em;
    border-radius: 25px;
    }

li {
    display: inline;
    }

label{
    margin: 0.5em;
    display: inline-block;
    width: 15em;
    }

fieldset{
    margin: 0.5em;
    padding: 1em;
    }

h2 {
    color:#e7cfa1
    }

form{
    width: 35em;
    }

#submit {
    float: right;
    }

iframe{
    padding: 25px;
    }
