body{
    background: urL(../images/photo.jpeg) no-repeat center center fixed;
    background-size: cover;
    background-color:#b4cce4;
    }

h1#bandeau {
	height:150px;
	background-color:#b4cce4;
    color: #ffffff;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3em;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 25px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    }

div#menu {
	float:left;
	width:100px;
	height:600px;
    color: #ffffff;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 25px;
    }

div#contenu {
    float:left;
	width:600px;
	height:600px;
	}

div#piedpage {
    clear:both;
	height:50px;
	background-color:#b4cce4;
	}

label{
    color: #646a6e
    }
iframe{
    padding: 25px;
    }
label.adresse {
    font-weight:bold;
    }
